%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Price:
  = @product.price
%p
  %b Sizes:
  = @product.sizes
%p
  %b Colors:
  = @product.colors
%p
  %b Description:
  = @product.description
%p
  %b Status:
  = @product.status
%p
  %b Code:
  = @product.code

%p imagenes
-@product.images.each do |image|
  =image_tag(url_for(image))
= link_to 'Edit', edit_product_path(@product)
= link_to 'Back', products_path
